* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #1d70ce), color-stop(50%, #0ab1f3));
  background: linear-gradient(#1d70ce 50%, #0ab1f3 50%);
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .cont {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .cont .friends {
  width: 30%;
  min-width: 300px;
  height: 100%;
  background-color: #1B3895;
  position: relative;
}

body .cont .friends .friends {
  list-style-type: none;
  height: 88%;
  width: 100%;
  overflow-y: scroll;
}

body .cont .friends .friends a {
  text-decoration: none;
}

body .cont .friends .friends li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  cursor: pointer;
}

body .cont .friends .friends li .status {
  position: relative;
}

body .cont .friends .friends li .status img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

body .cont .friends .friends li .status .fas {
  position: absolute;
  top: 70%;
  right: 0%;
  color: greenyellow;
}

body .cont .friends .setting {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  top: 0;
  left: -100%;
  opacity: 0;
  padding: 20px;
  -webkit-transition: ease-in 1s;
  transition: ease-in 1s;
}

body .cont .friends .setting .left {
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

body .cont .friends .setting .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 50px;
}

body .cont .friends .setting .details form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding: 5px;
}

body .cont .friends .setting .details form .button {
  background-color: #1B3895;
  color: white;
  border-radius: 0px;
  font-weight: bold;
  font-size: 30px;
  height: 60px;
}

body .cont .friends .setting .details form input {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
}

body .cont .friends .setting .details img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
  margin-bottom: 20px;
}

body .cont .friends .head {
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.685);
  height: 80px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .cont .friends .head img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  cursor: pointer;
}

body .cont .friends .head .tool {
  color: white;
  font-size: 40px;
}

body .cont .friends .head .tool .logout {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-right: 10px;
}

body .cont .friends .head .tool i {
  cursor: pointer;
}

body .cont .welcome {
  width: 70%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.82)), color-stop(rgba(255, 255, 255, 0.82)), to(rgba(255, 255, 255, 0.82))), url("../images/whatsapp-bg.jpg");
  background-image: linear-gradient(rgba(255, 255, 255, 0.82), rgba(255, 255, 255, 0.82), rgba(255, 255, 255, 0.82)), url("../images/whatsapp-bg.jpg");
}

body .cont .welcome .head {
  padding: 10px;
  width: 100%;
  height: 10%;
  background-color: #1B3895;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

body .cont .welcome .head img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

body .cont .welcome .head * {
  margin-right: 10px;
}

body .cont .welcome .message {
  width: 100%;
  height: 80%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.82)), color-stop(rgba(255, 255, 255, 0.82)), to(rgba(255, 255, 255, 0.82))), url("../images/whatsapp-bg.jpg");
  background-image: linear-gradient(rgba(255, 255, 255, 0.82), rgba(255, 255, 255, 0.82), rgba(255, 255, 255, 0.82)), url("../images/whatsapp-bg.jpg");
}

body .cont .welcome .send {
  width: 100%;
  height: 10%;
  position: relative;
}

body .cont .welcome .send textarea {
  width: 100%;
  height: 100%;
  padding: 5px 45px 5px 55px;
  border: none;
  outline: none;
  border-radius: 500px;
  -webkit-box-shadow: 0px 0px 30px gray;
          box-shadow: 0px 0px 30px gray;
}

body .cont .welcome .send .emoji {
  position: absolute;
  top: 13%;
  font-size: 30px;
  padding: 5px;
  border-radius: 50%;
  color: white;
  background-color: #1B3895;
}

body .cont .welcome .send .fas {
  position: absolute;
  top: 15%;
  right: 0%;
  font-size: 20px;
  padding: 15px;
  border-radius: 50%;
  color: white;
  background-color: #1B3895;
}

body .cont .welcome .send .cont {
  width: 250px;
  height: 150px;
  position: absolute;
  top: -220%;
  left: 2%;
  -webkit-box-shadow: 0px 0px 30px gray;
          box-shadow: 0px 0px 30px gray;
  border-radius: 20px;
  display: none;
}

body .cont .welcome .send .cont ul {
  border-radius: 20px;
  list-style-type: none;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow-y: scroll;
  padding: 5px;
}

body .cont .welcome .send .cont ul li {
  font-size: 20px;
  cursor: pointer;
}
/*# sourceMappingURL=welcome.css.map */